*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    width: 100%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0f0f0f;
    color: white;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #ff3333;
}

.cta-btn{
    background: #7f867a41;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.cta-btn:hover{
    background: #131212;
}

h1{
  text-align: center;
  margin: 0 auto 16px auto;
  padding: 200px ;
  color: #df1bb5;
}

